* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.app-container {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  padding: 10px;
}
.content-container {
  border: 4px solid #551e53;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 10px;
  min-height: 100vh;
}
.responsive-body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
